In [11]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import pandas as pd
import warnings
import matplotlib.colors as colors
import matplotlib.animation as animation
import matplotlib.lines as lines
import datetime
import math
import csv
import ast
import importlib
%matplotlib notebook

from sociophysicsDataHandler import SociophysicsDataHandler

!cat auth.txt
# !pip install sociophysicsDataHandler==1.3.2

guest
YDPGL-XREXC-QGMZS-UAKES

In [12]:
import data_preparator_2 
importlib.reload(data_preparator_2)

In [13]:
df = pd.read_csv('test_results.csv')

#print(df.to_string())
df.head()

     ID  Offboarding  Onboarding        Time  Zone  x_pos  y_pos
0  1000         True       False  1649039576   587   41.0     13
1  1001         True       False  1649039576   447   31.0     13
2  1000         True       False  1649039577   586   41.0     12
3  1001         True       False  1649039577   446   31.0     12
4  1002         True       False  1649039577   601   42.0     13

In [14]:
zone_height = 1000
zone_width = 1000
o_x = 5000
o_y = -10000

In [15]:
df['x_pos_approx'] = o_x + zone_width * (df['x_pos'] + 1/2) 
df['y_pos_approx'] = o_y + zone_height * (df['y_pos'] + 1/2)
df.head()

,ID,Offboarding,Onboarding,Time,Zone,x_pos,y_pos,x_pos_approx,y_pos_approx
0,1000,True,False,1649039576,587,41.0,13,46500.0,3500.0
1,1001,True,False,1649039576,447,31.0,13,36500.0,3500.0
2,1000,True,False,1649039577,586,41.0,12,46500.0,2500.0
3,1001,True,False,1649039577,446,31.0,12,36500.0,2500.0
4,1002,True,False,1649039577,601,42.0,13,47500.0,3500.0

In [16]:
print(df['Time'][0])
df_no_train = data_preparator_2.division_by_train_position(df)[0]
df_no_train

1649039576
trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/ehv_train_information_pss.parquet
data fetched. Accessible as <this-object>.train_information

,ID,Offboarding,Onboarding,Time,Zone,x_pos,y_pos,x_pos_approx,y_pos_approx,time
0,1000,True,False,1649039576,587,41.0,13,46500.0,3500.0,1649039576
1,1001,True,False,1649039576,447,31.0,13,36500.0,3500.0,1649039576
2,1000,True,False,1649039577,586,41.0,12,46500.0,2500.0,1649039577
3,1001,True,False,1649039577,446,31.0,12,36500.0,2500.0,1649039577
4,1002,True,False,1649039577,601,42.0,13,47500.0,3500.0,1649039577
...,...,...,...,...,...,...,...,...,...,...
30150,1079,False,True,1649040175,0,0.0,0,5500.0,-9500.0,1649040175
30151,1086,False,True,1649040175,5,0.0,5,5500.0,-4500.0,1649040175
30152,1087,False,True,1649040175,10,0.0,10,5500.0,500.0,1649040175
30153,1088,False,True,1649040175,4,0.0,4,5500.0,-5500.0,1649040175
30154,1089,False,True,1649040175,5,0.0,5,5500.0,-4500.0,1649040175

In [17]:
def percentageDangerZone(df):
    threshold1 =  13
    threshold2 = 0
    df_no_train = data_preparator_2.division_by_train_position(df)[0]
    percentage = len((df_no_train[(df_no_train['y_pos'] >= threshold1) | (df_no_train['y_pos'] <= threshold2)])) / len(df_no_train) * 100
    return percentage

In [18]:
print(percentageDangerZone(df))

trying to fetch: /storage/surfsara/ProRail_USE_LL_data/ehv/ehv_train_information_pss.parquet
data fetched. Accessible as <this-object>.train_information
11.089371580169125

In [31]:
def personalTime(ID):
    df_personal = df[df['ID']==ID]
    print(df_personal.head())
    print(df_personal.tail())
    if df_personal.iloc[0]['Offboarding']:
        offboarding = True
    if df_personal.iloc[0]['Onboarding']:
        onboarding = True
        
    first_occurrence = df_personal.iloc[0]['Time']
    last_occurrence = df_personal.iloc[-1]['Time']
    
    if offboarding:
        return last_ocurrence-first_occurrence
    
    
personalTime(1003)

      ID  Offboarding  Onboarding        Time  Zone  x_pos  y_pos  \
8   1003         True       False  1649039578   937   66.0     13
12  1003         True       False  1649039579   922   65.0     12
16  1003         True       False  1649039580   907   64.0     11
20  1003         True       False  1649039581   892   63.0     10
24  1003         True       False  1649039582   877   62.0      9

    x_pos_approx  y_pos_approx        time     train
8        71500.0        3500.0  1649039578  no train
12       70500.0        2500.0  1649039579  no train
16       69500.0        1500.0  1649039580  no train
20       68500.0         500.0  1649039581  no train
24       67500.0        -500.0  1649039582  no train
         ID  Offboarding  Onboarding        Time  Zone  x_pos  y_pos  \
29711  1003         True       False  1649040171   763   54.0      7
29800  1003         True       False  1649040172   763   54.0      7
29889  1003         True       False  1649040173   763   54.0      7
29978  1003         True       False  1649040174   763   54.0      7
30068  1003         True       False  1649040175   763   54.0      7

       x_pos_approx  y_pos_approx        time     train
29711       59500.0       -2500.0  1649040171  no train
29800       59500.0       -2500.0  1649040172  no train
29889       59500.0       -2500.0  1649040173  no train
29978       59500.0       -2500.0  1649040174  no train
30068       59500.0       -2500.0  1649040175  no train
1649040175